/* 
  UofT SCS Data Analytics Boot Camp
	Assignment 09 - Web Vizualisation
  Author:	Vivianti Santosa */

/* Style for Navigation Bar */
#MyColor_Blue{
  background-color: #356178;
}
#MyColor_yellow{
  color: #f4eba0;
}
#Project_Font{
  font-family: 'Calibri';
  font-size: 24pt;
  font-weight: 400;
  color:#ff5757;
  margin-left: 20px;  
}
#RightAlign{
  align-content: right;
}

/* Styles for Heading Box */
.HeadBox{
    width: 100%;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 50px;
    height: 120px;
    margin:0px;
    background-color:#ff5757;
}
.LineBox{
  width: 100%;
  padding: 20px;
  height: 30px;
  background-color:#ff5757;
}
t1{
  font-family: 'Calibri';
  font-size: 36pt;
  font-weight: 600;
  margin-left: 20px;
  color:#356178;
}
t2{
  margin-left: 20px;
  border-spacing: 0;
  color:#356178;
  font-family: 'Calibri';
  font-size: 28pt;
  font-weight: 400;
  z-index: 10;
  margin-top: 14pt;
}
p3{
  color: #f4eba0
}
hr.new3 {
  border-top: 10px dotted #356178;
  z-index: 10;
}

/* Styles for Body Section */
/*.TitleBox{
  padding-left : 40px;
  padding-right: 40px;
  background-color: #f4eba0;
}*/
.BodyBox{
  width: max;
  padding-top : 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #f4eba0;
  background-image: url(../Images/hiclipart1.png);
  background-size: 100%;
}
.title{
  color:#356178;
  margin-left: 20px;
  padding-top: 20px;
}
.LandPgImage{
  Width: 35%;
  Height: auto;
  padding-right: 20px;
  float: left;
  box-shadow: grey 20px;
}
/*
a:hover, a:active {
  background-color: red;
}*/
.VisImage{
  width: 49%;
  box-shadow: grey 20px;
}
#SmImg {
  width: 49%;}

.VisImage1{
  max-width: 100%;
  max-height: 150px;
  box-shadow: grey 20px;
}
.BodyFont{
  font-size: 12pt;
  text-align: justify;
  margin-left: 0;
  margin-right: 20px;
  padding-top: 20px;
  font-weight: bolder;
}

/* Styles for Menu Box */
.MenuBox{
  /*position: relative;*/
  background-color: #356178;
  top: -120px;
  width: 90%;
  align-self: center;
  color: whitesmoke;
  font-weight: 700;
  font-size: 9pt;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.BoxImage:hover {
  border: 2px solid #777;
}
.BoxImage{
  width:90%;
  max-height: 90px;
  padding-top:5px;
  padding-bottom:5px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
/*Style for Gallery*/
.gallery {
  border: 10px #f4eba0;
  border-style: double;
  border-radius: -3px;
  float: left;
  width: 90%;
  padding: 10px;
  background-color: #ddd5c5;
  margin: 1%;
  padding-right: 3%;
  padding-bottom: 1.5%;
  align-items: center;
}
.gallery:hover {
  border: 2px solid #777;
}
.gallery img {
  width: 100%;
  padding-left: 5%;
  height: auto;
  align-items: center;
}

.desc {
  padding: 5px;
  font-weight: 600;
  text-align: center;
}
/*TABLE */
.table {
  overflow-x:auto;
  table-layout: auto;
  width: 100%;
  background-color: wheat; 
  color: black;
}
.TableHeading{
  background-color:  #356178;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 9pt;
}
.TableFont{
  font-size: 10pt;
}
/* Adding media queries for
screen smaller than 1180 pixels */
@media (max-width: 1180px) {
.TableFont{
    font-size: 9pt;}
.TableHeading{
    font-size: 9pt;}
}

/* Adding media queries for
screen smaller than 780 pixels */
@media (max-width: 780px) {
  #Project_Font{
    font-size: 16pt;}
  .HeadBox{
    padding: 10px;
    height: 90px;}
  #MyColor_Blue{
    background-color:  grey;}
  .TableHeading{
      background-color:  grey;
      font-size: 9pt;
      color: black;}
  t1{
    font-size: 24pt;
    font-weight: 400;
    margin-left: 10px;}
  t2{
    font-size: 20pt;
    font-weight: 300;
    margin-left: 10px;}
  .BodyBox{
      width: max;
      padding-top : 30px;
      padding-left: 15px;
      padding-right: 15px;
      align-items: center;}
  .BodyFont{
    font-size: 11pt;
    margin-right: 10px;
    } 
  .MenuBox{
    top: 0px;
    padding: 10px;
    width: 100%;
    }  
  .BoxImage{
    width:15%;
    }
  .VisImage{
      width: 80%;
      margin-left: 8%;}
  .VisImage1{
    display: none;}
  .TableFont{
    font-size: 8pt;}
}
/* Test */
.box {
  min-height: 30px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

